<div id="drawer-navigation" class="z-50 fixed top-0 right-0 z-40 w-full md:w-4/12 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
  <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Фильтры</h5>
  <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Закрыть</span>
  </button>
  <div class="py-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      <div id="accordion-collapse" data-accordion="collapse">
        <div class="my-4" *ngIf="areas != null">
          <h2 id="area-heading-1" >
            <button type="button" class="bg-emerald-600 flex items-center justify-between w-full p-5 font-medium text-left text-white border border-b-0 border-green-200 rounded-t-xl focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800 dark:border-green-700 dark:text-white hover:bg-emerald-600dark:hover:bg-emerald-600" data-accordion-target="#area-body-1" aria-expanded="true" aria-controls="area-body-1">
              <span>Районы</span>
              <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </h2>
          <div id="area-body-1" class="hidden" aria-labelledby="area-heading-1">
            <fieldset class="px-4 my-2" *ngIf="areas.length">
              <legend class="my-4 font-bold">Районы:</legend>

              <div class="flex items-center mb-4" *ngFor="let area of areas">
                <input (change)="toggleArea(area.id)" [checked]="activeAreas.indexOf(area.id) != -1" id="area-{{area.id}}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
                <label for="area-{{area.id}}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{area.title_ru}}</label>
              </div>

            </fieldset>
          </div>
        </div>
        <div class="my-4" *ngIf="places != null">
          <h2 id="place-heading-1" >
            <button type="button" class="bg-emerald-600 flex items-center justify-between w-full p-5 font-medium text-left text-white border border-b-0 border-green-200 rounded-t-xl focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800 dark:border-green-700 dark:text-white hover:bg-emerald-600dark:hover:bg-emerald-600" data-accordion-target="#place-body-1" aria-expanded="true" aria-controls="place-body-1">
              <span>Места ({{places.length}})</span>
              <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </h2>
          <div id="place-body-1" class="hidden" aria-labelledby="place-heading-1">
            <fieldset class="px-4 my-2" *ngIf="places.length">
              <legend class="my-4 font-bold">Места:</legend>

              <div class="flex items-center mb-4" *ngFor="let place of places">
                <input (change)="togglePlaces(place.id)" [checked]="activePlaces.indexOf(place.id) != -1" id="place-{{place.id}}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
                <label for="place-{{place.id}}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{place.title_ru}}</label>
              </div>

            </fieldset>
          </div>
        </div>

        <div class="my-4">
          <h2 id="filter-heading-1" >
            <a class="bg-emerald-600 flex items-center justify-between w-full p-5 font-medium text-left text-white border border-b-0 border-green-200 rounded-t-xl focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800 dark:border-green-700 dark:text-white hover:bg-emerald-600dark:hover:bg-emerald-600" data-accordion-target="#filter-body-1" aria-expanded="true" aria-controls="filter-body-1">
              <span>Фильтры</span>
              <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
          </h2>
          <div id="filter-body-1" class="hidden min-h-screen" aria-labelledby="filter-heading-1">
            <section *ngIf="SystemData != null">
              <fieldset class="px-4 my-2" *ngIf="SystemData.category">
                <legend class="my-4 font-bold">Категория посадки:</legend>
                <ng-selectize [(ngModel)]="category_filter" class="my-4 w-4/12" [config]="MULTI_SELECT_CONFIG" [options]="SystemData.category" [placeholder]="'Категории'"></ng-selectize>

              </fieldset>

              <fieldset class="px-4 my-2" *ngIf="SystemData.sanitary">
                <legend class="my-4 font-bold">Санитарная категория посадки:</legend>
                <ng-selectize [(ngModel)]="sanitary_filter"  class="my-4 w-4/12" [config]="MULTI_SELECT_CONFIG" [options]="SystemData.sanitary" [placeholder]="'Типы состояний'"></ng-selectize>

              </fieldset>

              <fieldset class="px-4 my-2" *ngIf="SystemData.status">
                <legend class="my-4 font-bold">Статус посадки:</legend>
                <ng-selectize [(ngModel)]="status_filter"  class="my-4 w-4/12" [config]="MULTI_SELECT_CONFIG" [options]="SystemData.status" [placeholder]="'Типы статусов'"></ng-selectize>

              </fieldset>

              <fieldset class="px-4 my-2" *ngIf="SystemData.event">
                <legend class="my-4 font-bold">Мероприятие:</legend>
                <ng-selectize [(ngModel)]="event_filter"  class="my-4 w-4/12" [config]="MULTI_SELECT_CONFIG" [options]="SystemData.event" [placeholder]="'Типы Мероприятий'"></ng-selectize>

              </fieldset>

              <fieldset class="px-4 my-2" *ngIf="SystemData.breed">
                <legend class="my-4 font-bold">Тип посадки:</legend>
                <ng-selectize [(ngModel)]="breed_filter"  class="my-4 w-4/12" [config]="MULTI_SELECT_CONFIG" [options]="SystemData.breed" [placeholder]="'Типы деревьев'"></ng-selectize>
              </fieldset>
              <button (click)="toggleFilters()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Использовать фильтры</button>

            </section>
          </div>
        </div>

      </div>
    </ul>
  </div>
</div>


      <div class="text-center">
        <button class="absolute right-1 z-20 top-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
          Фильтры
        </button>
        <div
          id="map"
          class="z-10"
          leaflet
          [leafletOptions]="options"
          [leafletLayers]="Layer"
          (leafletMapZoomEnd) = "onZoom($event)"
          (leafletMapMoveEnd) = "onZoom($event)"
        >
        </div>


      </div>

    <!-- drawer init and show -->
<ngx-smart-modal #myModal identifier="myModal">

  <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
      <img class="rounded-t-lg" src="https://obuchonok.ru/files/images/derevo.jpg" alt="" />
    </a>
    <div class="p-5" *ngIf="activeMarker">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <p>Позиция: <b>{{activeMarker.geocode}}</b></p>
        <p>Номер: <b>{{activeMarker.id}}</b></p>
        <p>Событие: <b>{{getTitle("event",activeMarker.event_id)}}</b></p>
        <p>Состояние: <b>{{getTitle("sanitary",activeMarker.sanitary_id)}}</b></p>
        <p>Статус: <b>{{getTitle("status",activeMarker.status_id)}}</b></p>
        <p>Тип: <b>{{getTitle("type",activeMarker.type_id)}}</b></p>
        <p>Категория:<b>{{getTitle("category",activeMarker.category_id)}}</b></p>
        <p>Дата: <b>{{activeMarker.landing_date}}</b></p>
        <p>Автор:<b>{{activeMarker.user_id}}</b></p>
      </div>
    </div>
  </div>
</ngx-smart-modal>

    <!-- drawer component -->


